In [5]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [12]:
import os, sys
from pathlib import Path

import numpy as np
import pandas as pd

sys.path.append('../')
from src.data_prep import DataPrep as dp

In [14]:
dataprocessor = dp()
dataprocessor.train_test_split(random_state=42)
dataprocessor.df_validation.head()

0.8 train ratio results in 4000 training observations and 1000 validation observations.

,label,response,context,concat
1501,SARCASM,@USER @USER Okay . I was just having a little ...,[Blah blah blah . Just listen to this guy . He...,Blah blah blah . Just listen to this guy . He ...
2586,NOT_SARCASM,@USER @USER @USER I grew up in Crowborough . I...,[There â€™ s a beautiful #WolfMoon rising over C...,There â€™ s a beautiful #WolfMoon rising over Cr...
2653,NOT_SARCASM,scripted tv show is not the way to a person's ...,[#TheBachelor I have no idea why such beautifu...,#TheBachelor I have no idea why such beautiful...
1055,SARCASM,@USER @USER Don't forget that evocative sense ...,"[In other news , I'm going to take up art . ðŸŽ¨ ...","In other news , I'm going to take up art . ðŸŽ¨ <..."
705,SARCASM,@USER @USER It â€™ s funny how there aren â€™ t an...,[Is this photo real ? If so please tell me how...,Is this photo real ? If so please tell me how ...

In [15]:
dataprocessor.write_data()