In [9]:
import sys, os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
df_train = pd.read_json('../data/train.jsonl', lines=True)

In [11]:
df_train.head()

,label,response,context
0,SARCASM,@USER @USER @USER I don't get this .. obviousl...,[A minor child deserves privacy and should be ...
1,SARCASM,@USER @USER trying to protest about . Talking ...,[@USER @USER Why is he a loser ? He's just a P...
2,SARCASM,@USER @USER @USER He makes an insane about of ...,[Donald J . Trump is guilty as charged . The e...
3,SARCASM,@USER @USER Meanwhile Trump won't even release...,[Jamie Raskin tanked Doug Collins . Collins lo...
4,SARCASM,@USER @USER Pretty Sure the Anti-Lincoln Crowd...,[Man ... y ’ all gone “ both sides ” the apoca...

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   label     5000 non-null   object
 1   response  5000 non-null   object
 2   context   5000 non-null   object
dtypes: object(3)
memory usage: 117.3+ KB

In [13]:
df_train.describe()

,label,response,context
count,5000,5000,5000
unique,2,4752,4664
top,SARCASM,@USER You will probably be crying on twitter a...,[Day thirteen of three hundred and sixty five ...
freq,2500,2,9

In [16]:
df_train.groupby(by='label').size().to_frame('count').reset_index()

         label  count
0  NOT_SARCASM   2500
1      SARCASM   2500